.todoItem {
  background-color: rgb(138, 121, 121);
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 700;
  width: 700px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.button {
  color: red;
}

.blurItem {
  border: 2px solid yellowgreen;
}
